auto-install-peers=true
strict-peer-dependencies=false
ignore-workspace=true
minimum-release-age=0
onlyBuiltDependencies[]=@deepseek-ai/dsh-subprocess-local
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=koffi
onlyBuiltDependencies[]=node-pty
onlyBuiltDependencies[]=protobufjs
